body {
	background: url('../img/background.jpg');
	color: white;
	font-size: 16px;
	text-align: center;
	padding-bottom: 70px;
}
header {
    padding: 60px 0;
}
header h1 {
    font-size: 60px;
    letter-spacing: 2px;
    text-shadow: -1px -1px 0 #fef5f3, 1px -1px 0 #fef5f3, -1px 1px 0 #fef5f3, 1px 1px 0 #fef5f3;
    text-transform: uppercase;
}
header h1, header h2 {
	font-weight: lighter;
}
.content {
	background: rgba(254, 245, 243, 0.15);
	padding: 40px 0;
}
.nav>li>a {
	display: inline-table;
}
.info {
	padding: 30px 0;
}
.info:hover {
	background: rgba(116, 61, 50, 0.2);
}
.info p {
	max-width: 80%;
    text-align: justify;
    padding-top: 30px;
    margin: auto;
    cursor: default;
}
.btn-default {
	border: none;
	min-width: 32%;
}
.btn-default:hover {
	background: white;
}
.android:hover {
	color: #a4c639;
}
.ios:hover {
	color: #8a9597;
}
.web:hover {
	color: #46b8da;
}
.nota {
	margin: 60px auto;
}